body {
 background-color: cadetblue;
 
}
 .home{
     color: crimson;
  font-size: 40px;
}
.class{
    color: darkmagenta;
    font-size: 40px;
}
.title{
    color: darksalmon;
    font-size: 40px;
}
p {
    color: gold;
    width: 600px;
    border: 3px black;
}
img{
    width: 500px;
    height: 333px;
    float: right;
     border-radius: 50%;
     margin: 10px black green;
}
img{
    width: 500px;
    height: 333px;
    float: right;
     border-radius: 50%;
     margin: 10px black green;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
  float: left;
}

li a {
  display: block;
  padding: 8px;
  background-color: #dddddd;
}
